* {
    box-sizing: border-box;
}

body {
    background-image: url('./imgs/stadium_background.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.stadium img {
    position: relative;
    border-radius: 5px;
}

.sidbar form {
    margin-top: -36px;
    margin-left: 50px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.372);
    padding: 10px;
    border-radius: 10px;
}
section {
    display: flex;
}

.fa-plus {
    font-size: 30px;
}
.card-content{
    position: relative;
    background-image: url('imgs/badge_gold.webp');
    display: flex;
    background-repeat: no-repeat;
    height: 100vh;
}
.player-image{
    position: absolute;
    align-items: center;
    width: 13vw;
    height: 22vh;
    top: 13%;
    left: 36px;
}

@media screen and (max-width: 430px) {
    body{
        width: 170vw;
    }
    nav{
        width: 170vw;
    }
    section {
        flex-wrap: wrap;
        width: 170vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divForm{
        position: relative;
        right: 3%;
    }
    .images{
        gap: 2rem;
    }
    .icons{
        font-size: 20px;
        margin-bottom: 10px;
        
    }

}
@media screen and (max-width: 375px) {
    .stadium .images{
        height: 150vh;
    }
}
@media screen and (max-width: 320px) {
    .stadium .images{
        height: 120vh;
    }
}

  