* {
    box-sizing: border-box;
}

body {
    background-image: url('./imgs/stadium_background.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.stadium img {
    position: relative;
    border-radius: 5px;
}
section {
    display: flex;
}


#substitute {
    background-color: #64656862; 
    border: 2px  #232425; 
    border-radius: 5px; 
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

@media screen and (max-width: 430px) {
    body{
        width: 170vw;
    }
    nav{
        width: 170vw;
    }
    section {
        flex-wrap: wrap;
        width: 170vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .divForm{
        position: relative;
        right: 3%;
    }
    .images{
        gap: 2rem;
    }
    .icons{
        font-size: 20px;
        margin-bottom: 10px;
        
    }

}
@media screen and (max-width: 375px) {
    .stadium .images{
        height: 150vh;
    }
}
@media screen and (max-width: 320px) {
    .stadium .images{
        height: 120vh;
    }
}

  